# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.next/

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/tsconfig.tsbuildinfo
/frontend/next-env.d.ts

# convex
/frontend/convex/_generated
